###Incoming Mail###
{{ incoming_mail }}

###Past Correspondence###
{{ past_correspondence }}

###Mail Information###
{{ mail_info }}

###Audience Information###
{{ audience_info }}

###Signature###
{{ signature }}

###Questions and Answers###
{% for choice in selected_choices %}
###Question###
{{ choice.question }}
{% for answer in choice.choices %}
###Answer###
{{ answer }}
{% endfor %}
{% endfor %}

{% if current_reply %}
###Current Reply###
{{ current_reply }}
{% endif %}

###Customization###
{{ customization }}